{% extends 'base.html' %}
{% load staticfiles %}
{% load custom_tags %}
{% block title %}Projects | ISB-CGC{% endblock %}}
{% block extra_css_libs %}{% endblock %}
{% block header %}{% endblock %}

{% block link_page_name %}project_list{% endblock %}
{% block page_name %}project_list{% endblock %}

{% block page_header %}
<div class="container">
    <h1 class="page-header pull-left">Import From Basespace</h1>
</div>
{% endblock %}
{% block content %}
<div class="container">
    <section class="panel panel-primary" style="padding:10px">
        <p>Importing files from <label>{{ bs_project.name }}</label></p>
        <input type="hidden" id="bs-project-name" value="{{ bs_project.name }}">
        <input type="hidden" id="bs-project-description" value="{{ bs_project.description }}">
        <input type="hidden" id="access-token" value="{{ access_token }}">
        <input type="hidden" id="session-uri" value="{{ session_uri }}">
        <input type="hidden" id="action-url" value="{% url 'file_import' %}">
        <input type="hidden" id="max-usage" value="{{ max_usage_bytes }}">
        <input type="hidden" id="current-usage" value="{{usage_bytes }}">
        <p style="padding-bottom: 5px;">You currently have used {{ usage_size }} of your account's total {{ max_usage_size }} storage space</p>
        <p id="total-size-display" >Total size of this upload <label id="total-size">0 kb</label></p>
        <p id="total-size-warning" class="alert alert-danger alert-error-message" style="display:none">Warning your current upload is  <label id="overage-size">0 kb</label> over your account's storage limit. Please remove one or more files before continuing</p>
        <p id="no-file-warning" class="alert alert-danger alert-error-message" style="display:none">At least one file must be selected for importing</p>
        <div class="padding-10" style="padding : 10px">
            {% if files %}
                <table id="file-table" class="table tablesorter">
                    <thead>
                        <th class="name-col">File Name</th>
                        <th class="study-col">Size</th>
                        <th>Ignore</th>
                    </thead>
                    <tbody>
                        {% for file in files %}
                            <tr class="file" name="{{ file.name }}" size="{{ file.rawsize }}" href="{{ file.href }}" class="row-{% if forloop.counter|divisibleby:2 %}even{% else %}odd{% endif %}">
                                <td class="name-col">{{ file.name }}</td>
                                <td class="study-col">{{ file.size }}</td>
                                <td><i class="file-removal pointer text-danger fa fa-remove pointer"></i></td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <p class="center space-top-10">No files were selected within Basespace</p>
            {% endif %}
        </div>
    </section>

    <div class="panel">
        <div class="panel-heading">
            <label>Select project to import files</label>
        </div>
        <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active">
                <a href="#existing-projects-list" aria-controls="existing-projects-list" role="tab" data-toggle="tab">Existing Project</a>
            </li>
            <li role="presentation">
                <a href="#new-project" aria-controls="new-projects-list" role="tab" data-toggle="tab">New Project</a>
            </li>
        </ul>
        <div class="tab-content" style="padding : 0px 10px 5px 10px">
            <div role="tabpanel" class="tab-pane active" id="existing-projects-list">
                <div class="panel-body">
                    {% if projects %}
                        <table class="table tablesorter">
                            <thead>
                                <th class="control-col"></th>
                                <th class="name-col">Name</th>
                                <th class="study-col">Studies</th>
                                <th>Shared with</th>
                                <th>Last Updated</th>
                            </thead>
                            <tbody>
                                {% for project in projects %}
                                <tr class="row-{% if forloop.counter|divisibleby:2 %}even{% else %}odd{% endif %}">
                                    <td class="control-col">
                                        <input type="radio" name="project-selection" {% if forloop.counter == 1%} checked {% endif %} value="{{project.id}}">
                                    </td>
                                    <td class="name-col">{{ project.name }}</td>
                                    <td>{{ project.study_set.all|active|length }}</td>
                                    <td>({{ project.shared.count }})</td>
                                    <td>{{ project.last_date_saved|date:"SHORT_DATETIME_FORMAT" }}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                        <div style="height:35px">
                            <button id="upload-button" style="width: 136px;" class="btn btn-primary">
                                <i class="fa fa-cloud-upload"></i>Import Files
                            </button>
                            <button id="upload-button-importing" style="width: 136px;" class="hidden btn btn-primary slow-blink">
                                <i class="fa fa-cog fa-spin"></i><span>Importing</span>
                            </button>
                        </div>
                    {% else %}
                        <p class="center space-top-10">You don't have any saved projects yet</p>
                        <p class="center"><a href="{% url 'project_upload' %}" class="btn btn-default"><i class="fa fa-cloud-upload"></i>Upload Project Data</a></p>
                    {% endif %}
                </div>
            </div>
            <div role="tabpanel" class="tab-pane" id="new-project">
                <input type="hidden" id="project-tab" value="new">
                <div style="height: 35px;">
                    <div id="validate-warning" class="message message-error alert" style="margin:0px -10px 10px -10px; display : none">Project name is required</div>
                </div>
                <div class="panel-body">
                    <section id="project-info" class="collapse in">
                        <div class="form-group">
                            <label for="project-name">Project Name</label>
                            <input class="form-control" type="text" name="project-name" id="project-name">
                        </div>
                        <div class="form-group">
                            <label for="project-description">Project Description (Optional)</label>
                            <textarea class="form-control" name="project-description" id="project-description" cols="30" rows="5"></textarea>
                        </div>
                    </section>
                    <div style="height:35px">
                        <button id="upload-button-new" style="width: 136px;" class="btn btn-primary">
                            <i class="fa fa-cloud-upload"></i><span>Import Files</span>
                        </button>
                        <button id="upload-button-new-importing" style="width: 136px;" class="hidden btn btn-primary slow-blink">
                             <i class="fa fa-cog fa-spin"></i><span class=>Importing</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="success-modal" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Upload Complete</h4>
            </div>
            <div class="modal-body">
                Files have been successfully imported to the project "<span id="project-name"></span>" under the study "</span><span id="study-name"></span>"
                <br></br>
                <a id="redirect" class="btn btn-primary" href="">To Project Details</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}



{% block js_file %}{% static 'js/project_import.js' %}{% endblock %}