$heading-margin: 24px

// Unique site-wide typography
// Using svg to display text gradient
.hero-svg
  width: 100%
.hero-svg-title, text
  font-size: 44px
  font-family: $headings-font-family
  font-weight: $bold-font-weight
  color: $isb-warning

#marketing
  overflow: hidden
  line-height: 1.7

  .carousel
    padding: 120px 0 20px 0
    height: 540px
  .carousel-indicators
    bottom: 60px

// section 1
#overview
  background: $white
  padding-top: 150px

// section 2
#section2
  background: $white

  .marketing-section-title
    margin-top: 50px

// section 3
#features
  background: transparent
  color: $white

  &:before
    content: ''
    position: fixed
    height: 100%
    width: 100%
    top: 55px
    left: 0
    background-color: white
    background: url("/static/img/lsdf/lab.png") no-repeat center center
    background-size: cover
    will-change: tranform
    z-index: -1

.featured-item
  width: 25%
  float: left
  margin: $heading-margin 4.5% $heading-margin $heading-margin
  opacity: 0.4
  &:nth-child(3n)
    margin-right: 0

.featured-title
  margin: $heading-margin 0 16px 0
  font-size: 18px

//  Section 4
#how-it-work
  background: linear-gradient(180deg, $white, #f2f2f2)

//  Section 5
#getting-started
  padding: 150px 0
  background: $white

  .fixed-image-holder
    transform: translate3d(0, 50px, 0)

// General
.cta-container
  margin: 40px 0 $heading-margin 0
  .btn
    margin-right: 16px
  span
    color: #aaaaaa

.marketing-section-title
  font-size: 28px
  color: $isb-warning
  position: relative
  padding: $heading-margin * 1.5 0 $heading-margin 0
  margin: 0

  &:after
    content: ''
    display: block
    background-color: $isb-success
    height: 8px
    width: 56px
    position: absolute
    top: 0

.fixed-image-holder
  position: relative
  margin-top: 40px
  [class^="fixed-image-"]
    position: absolute
    height: auto
.fixed-image-1
  right: -10px
  top: -80px
  width: 418px
.fixed-image-2
  left: -40px
  top: 0px
  width: 385px
.fixed-image-3
  left: 0
  top: -40px
  width: 375px
.fixed-image-4
  left: -134px
  top: -134px
.fixed-image-5
  right: -40px
  bottom: 40px
  width: 304px
.fixed-image-6
  right: -60px
  bottom: 84px
  width: 284px
.fixed-image-7
  left: -30px
  top: -50px

@media screen and (max-width: $screen-lg)
  .fixed-image-1
    top: -100px
    right: -50px
  .fixed-image-5
    bottom: 20px
  .fixed-image-6
    bottom: 60px

@media screen and (max-width: $screen-md)
  .featured-item
    width: 27%
    margin: 24px 2.5%

  #marketing
    .carousel
      padding: 100px 0 20px 0
      height: 500px
  #overview .fixed-image-holder
    transform: translate3d(0, 40px, 0)
  #getting-started .fixed-image-holder
    transform: translate3d(0, 80px, 0)
  .image-0
    max-width: 480px
  .fixed-image-1
    width: 318px
    top: -120px
    right: -80px
  .fixed-image-2
    width: 335px
    top: -30px
  .fixed-image-3
    width: 325px
    top: -60px
  .fixed-image-4
    left: -100px
    top: -100px
  .fixed-image-5
    width: 254px
  .fixed-image-6
    width: 234px

@media screen and (max-width: $screen-sm)
  #marketing .carousel
    padding: 40px 0 0 0
    height: auto
    min-height: 570px

  .featured-item
    width: 100%
    padding: 15px 30px
    margin: 0
