$heading-margin: 24px

// Unique site-wide typography
// Using svg to display text gradient
.hero-svg
  width: 100%
.hero-svg-title, text
  font-size: 44px
  font-family: $headings-font-family
  font-weight: $bold-font-weight
  color: $isb-warning

#marketing
  background: $white
  line-height: 1.7
  padding: 84px 0 0 0
  .page-section
    padding: 75px 0
  .carousel
    padding: 120px 0 20px 0
    height: 540px
  .carousel-indicators
    bottom: 60px

// section 1


// section 3
#features
  background: url("/static/img/lsdf/lab.png")
  background-size: cover
  background-attachment: fixed
  color: $white

.featured-item
  width: 25%
  float: left
  margin: $heading-margin 4.5% $heading-margin $heading-margin
  &:nth-child(3n)
    margin-right: 0

.featured-title
  margin: $heading-margin 0 16px 0
  font-size: 18px

//  Section 4
#how-it-work
  background: linear-gradient(180deg, $white, #f2f2f2)

//  Section 5
#getting-started
  margin-top: 100px

// General
.cta-container
  margin: 40px 0 $heading-margin 0
  .btn
    margin-right: 16px
  span
    color: #aaaaaa

.marketing-section-title
  font-size: 28px
  color: $isb-warning
  position: relative
  padding: $heading-margin * 1.5 0 $heading-margin 0
  margin: 0

  &:after
    content: ''
    display: block
    background-color: $isb-success
    height: 8px
    width: 56px
    position: absolute
    top: 0

.fixed-image-holder
  position: relative
  margin-top: 60px
  [class^="fixed-image-"]
    position: absolute
.fixed-image-1
  right: -10px
  top: -80px
.fixed-image-2
  left: -40px
  top: 0px
.fixed-image-3
  left: 0
  top: -40px
.fixed-image-4
  left: -80px
  top: -100px
.fixed-image-5
  right: 20px
  bottom: 10px
.fixed-image-6
  right: 0px
  bottom: 60px


// Animations


@keyframes slide-in-from-top
  from
    transform: translate3d(0, -100px, 0)
  to
    transform: translate3d(0, 0, 0)

