{% load staticfiles %}
{% load cohort_filters %}
{% load custom_tags %}
{% load project_custom_tags %}
{% load workbook_custom_tags %}

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{% block title %}Avance{% endblock %}</title>
    <meta name="description" content="{% block description %}Avance is a powerful, web-based application that enables biologists to easily analyze and visualize large data sets in a collaborative environment.{% endblock %}">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% block extra_css_libs %}{% endblock %}
    <link type="text/css" rel="stylesheet" href="{% static 'css/select2.min.css' %}" />
    <link type="text/css" rel="stylesheet" href="{% static 'css/style-lsdf.css' %}" />
    <script type="text/javascript" src="{% static 'js/libs/modernizr.js' %}"></script>
    {% block header %}{% endblock %}
    <!--
    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-59242228-1', 'auto');
        ga('send', 'pageview');
    </script>
    -->
    <!--Load Google fonts-->
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700|Montserrat:400,700' rel='stylesheet' type='text/css'>
</head>
<body id="body">
    <a href="#{% block link_page_name %}content{% endblock %}" class="skip-nav">Skip to main content</a>
    <div id="spinner-overlay" style="display:none;">
        <i class="fa fa-spinner fa-spin"></i>
    </div>
    <header class="navbar navbar-fixed-top site-header" role="header">
        <nav class="container">
            <div class="row">
                <div class="col-lg-12">
                <div class="nav navbar-left">
                    <ul class="">
                        {% if user.is_authenticated %}
                            <!-- TODO: hide brand name -->
                            <li class="navbar-item"> <a href="{% url 'dashboard' %}"><img class="navbar-brand" src="{% static 'img/lsdf/avance.png' %}" alt="Avance Logo"/><span class="navbar-item sr-only">Avance</span></a></li>
                        {% else %}
                            <li class="navbar-item"> <a href="{% url 'landing_page' %}"><img class="navbar-brand" src="{% static 'img/lsdf/avance.png' %}" alt="Avance Logo"/><span class="navbar-item sr-only">Avance</span></a></li>
                        {% endif %}
                        {% if request.get_full_path == "/" %}
                            <li class="navbar-link navbar-item"><a href="">Overview</a></li>
                            <li class="navbar-link navbar-item"><a href="">Features</a></li>
                            <li class="navbar-link navbar-item"><a href="">How It Works</a></li>
                            <li class="navbar-link navbar-item"><a href="">Getting Started</a></li>
                            <li class="navbar-link navbar-item"><a href="">Technical Specifications</a></li>
                        {% else %}
                            <li class="navbar-link navbar-item"><a href="{% url 'about_page' %}">About</a></li>
                            <li class="navbar-link navbar-item"><a href="{% url 'help' %}" target="_blank">Help</a></li>
                        {% endif %}
                    </ul>
                </div>

                <div class="nav navbar-right">
                    {% if user.is_authenticated %}
                        <div id="user-login" class="navbar-item">
                            <a class="avatar-link" href="{% url 'user_detail' user.id %}">
                                <img src="{{ user.socialaccount_set.all.0.get_avatar_url }}" width="32" height="32" alt="Avatar Link to User Details">
                            </a>

                            <div class="dropdown">
                                <a role="button" class="dropdown-toggle navbar-item__text" id="user-dropdown" data-toggle="dropdown" aria-label="User Dropdown" aria-expanded="true">
                                    {{ user.first_name }} <i class="fa fa-caret-down"></i>
                                </a>
                                <ul class="dropdown-menu dropdown-menu-right" role="menu" aria-label="user-dropdown">
                                    <li role="menuitem"><a href="#logout-modal" data-toggle="modal" data-target="#logout-modal" title="Sign Out"><i class="fa fa-sign-out"></i>Sign Out</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="navbar-item">
                            <a type="button" class="navbar-item__text lines-button x collapsed" data-toggle="collapse" data-target="#subnav" aria-expanded="false" aria-controls="subnav">
                                <span class="lines"></span>
                                Menu
                            </a>
                        </div>
                    {% else %}
                        <div id="user-login" class="navbar-form inline-block">
                            <!-- same thing as /accounts/login-->
                            <a class="btn btn-default mod-gray" href="{% url 'account_login' %}" title="Sign In"></i> Sign In</a>
                        </div>
                    {% endif %}
                </div>
                </div>
            </div>
        </nav>
        {% include 'share/sub_nav.html'  %}
    </header>