{% load staticfiles %}
{% load static %}
{% load cohort_filters %}
{% load custom_tags %}
{% load project_custom_tags %}
{% load workbook_custom_tags %}
    <header class="navbar navbar-fixed-top site-header" role="header">
        <nav class="container">
            <div class="row">
                <div class="col-lg-12">
                <div class="nav navbar-left">
                    <ul class="">

                        <li class="navbar-item nav-logo">
                            <a {% if user.is_authenticated %}href="{% url 'dashboard' %}"{% else %}href="{% url 'dashboard' %}" {% endif %}>
                                <img class="navbar-brand" {% if full_width %} src="{% static 'img/lsdf/avance.png' %}" {% else %} src="{% static 'img/lsdf/avance-white.png' %}" {% endif %}  alt="Avance Logo"/>
                                <span class="navbar-item sr-only">Avance</span>
                            </a>
                        </li>

                        {% if full_width %}
                            <li class="navbar-link navbar-item"><a href="#overview" data-ride="paranav">Overview</a></li>
                            <li class="navbar-link navbar-item"><a href="#features" data-ride="paranav">Features</a></li>
                            <li class="navbar-link navbar-item"><a href="#how-it-work" data-ride="paranav">How It Works</a></li>
                            <li class="navbar-link navbar-item"><a href="#getting-started" data-ride="paranav">Getting Started</a></li>
{#                            <li class="navbar-link navbar-item"><a href="">Technical Specifications</a></li>#}
                        {% else %}
                            <li class="navbar-link navbar-item"><a href="{% url 'about_page' %}">About</a></li>
                            <li class="navbar-link navbar-item"><a href="" data-target="#help-modal" data-toggle="modal">Help</a></li>
                        {% endif %}
                    </ul>
                </div>

                <div class="nav navbar-right">
                    {% if user.is_authenticated %}
                        {% url 'about_page' as about_url %}
                        {% if about_url == request.path %}
                            <div class="cta-container" style="display:inline-block; margin:0px">
                                <a href="{% url 'dashboard' %}" class="btn btn-default mod-info">Your Dashboard</a>
                            </div>
                        {% endif %}
                        <div id="user-login" class="navbar-item">
                            <a class="avatar-link" href="{% url 'user_detail' user.id %}">
                                <img src="{{ user.socialaccount_set.all.0.get_avatar_url }}" width="32" height="32" alt="Avatar Link to User Details">
                            </a>

                            <div class="dropdown">
                                <a role="button" class="dropdown-toggle navbar-item__text" id="user-dropdown" data-toggle="dropdown" aria-label="User Dropdown" aria-expanded="true">
                                    {{ user.first_name }} <i class="fa fa-caret-down"></i>
                                </a>
                                <ul class="dropdown-menu dropdown-menu-right" role="menu" aria-label="user-dropdown">
                                    <li role="menuitem"><a href="#logout-modal" data-toggle="modal" data-target="#logout-modal" title="Sign Out"><i class="fa fa-sign-out"></i>Sign Out</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="navbar-item">
                            <a type="button" class="navbar-item__text lines-button x collapsed" data-toggle="collapse" data-target="#subnav" aria-expanded="false" aria-controls="subnav">
                                <span class="lines"></span>
                                Menu
                            </a>
                        </div>
                    {% else %}
                        <div class="inline-block sign-up">
                            <!-- same thing as /accounts/login-->
                            <a class="btn btn-default mod-info" href="{% url 'account_login' %}" title="Sign Up" ></i> Sign Up</a>
                        </div>
                        <div class="inline-block sign-in">
                            <!-- same thing as /accounts/login-->
                            <a class="btn btn-default mod-gray" href="{% url 'account_login' %}" title="Log In"></i> Log In</a>
                        </div>
                    {% endif %}
                </div>
                </div>
            </div>
        </nav>
        {% include 'share/sub_nav.html'  %}
    </header>