body
  transition: all 0.4s ease-in

///********************************************
// * Navbar Styles
// *******************************************/

nav
    background-color: #FFF

.navbar
    margin-bottom: 0px
    padding-bottom: 0px
    //height: 56px

.navbar-nav
    .search-item .input-group
        margin-top: 10px
        margin-left: 41px
        i
            padding: 3px

    li a:hover
        background-color: #fff
.navbar-fixed-top
  border-width: 0
#secondary-nav
    background-color: #fff
    border-bottom: 1px solid $border-color
    box-shadow: 0px 1px 2px $border-color
    top: 55px
    z-index: 101
    .dropdown > a
        cursor: pointer
        font-size: 30px
        padding: 0px 5px

    .menu-items-right
        text-align: right
.menu-open
  padding-top: 50px
  transition: all 0.4s ease-in-out

.navbar-left
  float: left
  margin-top: 5px

.navbar-right
  float: right
  margin-top: 8px
  margin-right: 0

.navbar-brand
    height: 40px
    padding: 5px 5px 0px 0
    width: auto
    float: none
    display: inline-block

nav, .site-header
  padding: 5px 0
  background-color: transparent
  a
    color: $white

.site-header
  padding: 0
  box-shadow: 0px 1px 2px $border-color
  background-color: $isb-primary
  .lines-button.collapsed .lines, .lines-button .lines:before, .lines-button .lines:after
    background-color: $white

.navbar-form
  margin-top: 0

.navbar-item
  display: inline-block
  vertical-align: middle
  padding-right: 5px
  padding-left: 5px
  float: none !important
  > a
    padding: 0 !important
    position: relative

    &:hover, &:active
      text-decoration: none

    &.active:after
      display: block
      content: ''
      position: absolute
      bottom: -5px
      width: 100%
      border-bottom: 2px solid $isb-info

  &__text
    display: inline-block
    font-size: 16px
    vertical-align: middle
    &:hover
      text-decoration: none
    i.fa
      padding: 0 5px

.navbar-link
  padding-right: 10px
  padding-left: 10px

a.skip-nav
    position: absolute
    top: -1000px
    left: -1000px
    height: 1px
    width: 1px
    overflow: hidden

#user-login
    .avatar-link
      display: inline-block
      vertical-align: middle
    .avatar-link:hover
        text-decoration: none
    .login-link
        font-size: 16px

    img
        margin: 0px 3px
        border-radius: 50%
        border: 1px solid $bg-color

    .dropdown
        display: inline-block
        vertical-align: middle
        font-size: 16px

        > a:hover, > a:focus
            background-color: transparents
            cursor: pointer
            text-decoration: none

        > ul
            margin-top: 10px

@media screen and (max-width: $screen-md)
  .navbar-link
    font-size: $font-size-small
    padding-right: 5px
    padding-left: 5px

@media screen and (max-width: $screen-sm)
  .navbar-item.navbar-link
    display: none

  .navbar-form
    padding: 0 15px 0 0
    margin-bottom: 0